.live-editor-container {
	display: flex;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	height: calc(100% - 30px);
	overflow: hidden;
}

.live-editor-container iframe {
	width: 100%;
	margin: 3vh 10% 0 10%;
	max-width: 1200px;
	border: none;
}