@import "../../styles/vars.css";

.sidebar {
	height: calc(100% - 28px);
	display: flex;
	flex-direction: column;
	background-color: #f3f3f3;
	padding-left: 10px;
}

.nosidebar .sidebar {
	padding-left: 0;
}
