@import "../../styles/vars.css";

.sidebar-element {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex: 0 0 35px;
}

.sidebar-element.expanded {
	flex-grow: 1;
	/* order: -1; I'll think about it */
}

.sidebar-element.expanded > .header {
	background-color: inherit;
}

.sidebar-element > .body {
	height: 100%;
	overflow: auto;
	display: none;
}

.sidebar-element.expanded > .body {
	display: block;
}

.sidebar-element > .header {
	height: 20px;
	width: 100%;
	padding: 10px 10px 5px 10px;
	flex-shrink: 0;
	display: flex;
	cursor: pointer;
	background-color: #dad8d8;
}

.sidebar-element > .header:hover > .title {
	color: black;
}

.sidebar-element > .header > .title {
	padding: 0 5px;
	font-size: 12px;
	text-transform: uppercase;
	color: rgb(56, 56, 56);
}

.sidebar-element > .header > .buttons > .button:hover {
	color: black;
}
